In [1]:
import pandas as pd
import numpy as np
import re
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("total_used_cars")

In [3]:
df.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,0,0.0,0,0,CapitalUT,Delhi,2020,FORD,ECOSPORT,TITANIUM 1.5L DIESEL,Manual,Diesel,1st,15425,96075,9,5,789000
1,1,1.0,1,1,CapitalUT,Delhi,2016,Ford,Ecosport,1.5AMBIENTE TI VCT,Manual,Petrol,1st,10792,55017,9,5,552000
2,2,2.0,2,2,CapitalUT,Delhi,2018,FORD,ECOSPORT,AMBIENTE 1.5L DIESEL,Manual,Diesel,1st,13978,24931,9,5,715000
3,3,3.0,3,3,CapitalUT,Delhi,2019,FORD,ECOSPORT,TITANIUM 1.5L PETROL,Manual,Petrol,1st,15503,22270,9,5,793000
4,4,4.0,4,4,CapitalUT,Delhi,2015,Ford,Ecosport,TITANIUM 1.5L PETROL AT,Automatic,Petrol,2nd,10440,78906,9,5,534000

In [4]:
### Droping unnecessary columns1
df.drop(["Unnamed: 0.3","Unnamed: 0.2","Unnamed: 0.1","Unnamed: 0"],axis=1,inplace=True)

In [5]:
df.head()

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,FORD,ECOSPORT,TITANIUM 1.5L DIESEL,Manual,Diesel,1st,15425,96075,9,5,789000
1,CapitalUT,Delhi,2016,Ford,Ecosport,1.5AMBIENTE TI VCT,Manual,Petrol,1st,10792,55017,9,5,552000
2,CapitalUT,Delhi,2018,FORD,ECOSPORT,AMBIENTE 1.5L DIESEL,Manual,Diesel,1st,13978,24931,9,5,715000
3,CapitalUT,Delhi,2019,FORD,ECOSPORT,TITANIUM 1.5L PETROL,Manual,Petrol,1st,15503,22270,9,5,793000
4,CapitalUT,Delhi,2015,Ford,Ecosport,TITANIUM 1.5L PETROL AT,Automatic,Petrol,2nd,10440,78906,9,5,534000

In [6]:
### check state column
df["state"].unique()

array(['CapitalUT', 'Maharashtra', 'WestBengal', 'Kerala', 'Haryana',
       'UttarPradesh', 'Gujarat', 'Telangana', 'Madhya Pradesh',
       'Uttar Pradesh', 'Rajasthan', 'Tamil Nadu', 'Karnataka'],
      dtype=object)

In [7]:
state_list = []
for i in df["state"]:
    if i == "UttarPradesh":
        state_list.append("Uttar Pradesh")
    else:
        state_list.append(i)
set(state_list)

{'CapitalUT',
 'Gujarat',
 'Haryana',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Rajasthan',
 'Tamil Nadu',
 'Telangana',
 'Uttar Pradesh',
 'WestBengal'}

In [8]:
df["state"] = state_list
df["state"].unique()

array(['CapitalUT', 'Maharashtra', 'WestBengal', 'Kerala', 'Haryana',
       'Uttar Pradesh', 'Gujarat', 'Telangana', 'Madhya Pradesh',
       'Rajasthan', 'Tamil Nadu', 'Karnataka'], dtype=object)

In [9]:
### check city column
df["city"].unique()

array(['Delhi', 'Mumbai', 'Kolkata', 'Kochi', 'Gurgaon', 'Ghaziabad',
       'Ahmedabad', 'ahmedabad', 'Noida', 'Hyderabad', 'Hderabad',
       'Hyderbad', 'Indore', 'Lucknow', 'Pune', 'Jaipur', 'Chennai',
       'Bangalore'], dtype=object)

In [10]:
### changing hyderabad and ahmedabad names
city_list = []
for i in df["city"]:
    if i == "ahmedabad":
        city_list.append("Ahmedabad")
    elif i == "Hderabad" or i == "Hyderbad":
        city_list.append("Hyderabad")
    else:
        city_list.append(i)
set(city_list)

{'Ahmedabad',
 'Bangalore',
 'Chennai',
 'Delhi',
 'Ghaziabad',
 'Gurgaon',
 'Hyderabad',
 'Indore',
 'Jaipur',
 'Kochi',
 'Kolkata',
 'Lucknow',
 'Mumbai',
 'Noida',
 'Pune'}

In [11]:
df["city"] = city_list
df["city"].unique()

array(['Delhi', 'Mumbai', 'Kolkata', 'Kochi', 'Gurgaon', 'Ghaziabad',
       'Ahmedabad', 'Noida', 'Hyderabad', 'Indore', 'Lucknow', 'Pune',
       'Jaipur', 'Chennai', 'Bangalore'], dtype=object)

In [12]:
# checking year column
df["year"].unique()

array([2020, 2016, 2018, 2019, 2015, 2017, 2021, 2014, 2011, 2012, 2013,
       2022, 2010], dtype=int64)

In [13]:
## checking make column
df["make"].unique()

array(['FORD', 'Ford', 'Honda', 'HONDA', 'Hyundai', 'HYUNDAI', 'KIA',
       'MAHINDRA', 'Mahindra', 'Maruti', 'Renault', 'RENAULT', 'TATA',
       'Tata', 'MARUTI'], dtype=object)

In [14]:
make_list = []
for i in df["make"]:
    if i == "FORD" or i == "Ford":
        make_list.append("Ford")
    elif i == "Honda" or i == "HONDA":
        make_list.append("Honda")
    elif i == "Hyundai" or i == "HYUNDAI":
        make_list.append("Hyundai")
    elif i == "KIA":
        make_list.append("Kia")
    elif i == "Mahindra" or i == "MAHINDRA":
        make_list.append("Mahindra")
    elif i == "Maruti" or i == "MARUTI":
        make_list.append("Maruti")
    elif i == "Renault" or i == "RENAULT":
        make_list.append("Renault")
    elif i == "Tata" or i == "TATA":
        make_list.append("Tata")
    
set(make_list)

{'Ford', 'Honda', 'Hyundai', 'Kia', 'Mahindra', 'Maruti', 'Renault', 'Tata'}

In [15]:
df["make"] = make_list
df["make"].unique()

array(['Ford', 'Honda', 'Hyundai', 'Kia', 'Mahindra', 'Maruti', 'Renault',
       'Tata'], dtype=object)

In [16]:
## checking model volumn
df["model"].unique()

array(['ECOSPORT', 'Ecosport', 'FREESTYLE', 'Amaze', 'AMAZE', 'City',
       'CITY', 'JAZZ', 'Jazz', 'ELITE I20', 'Elite i20', 'GRAND I10',
       'Grand i10', 'NEW SANTRO', 'CARENS', 'SELTOS', 'SONET', 'SCORPIO',
       'Scorpio', 'Thar', 'THAR', 'Baleno', 'BALENO', 'Swift', 'SWIFT',
       ' New Wagon-R', 'Kiger', 'KWID', 'Kwid', 'TRIBER', 'ALTROZ',
       'NEXON', 'Tiago', 'TIAGO'], dtype=object)

In [17]:
model_list=[]
for i in df["model"]: 
    if i=="ECOSPORT" or i=="Ecosport":
        model_list.append("Ecosport")
    elif i=="FREESTYLE":
        model_list.append("Freestyle")
    elif i=="Amaze" or i=="AMAZE":
        model_list.append("Amaze")
    elif i=="City" or i=="CITY":
        model_list.append("City")
    elif i=="JAZZ" or i=="Jazz":
        model_list.append("Jazz")
    elif i=="ELITE I20" or i=="Elite i20":
        model_list.append("Elite i20")
    elif i=="GRAND I10" or i=="Grand i10":
        model_list.append("Grand i10")
    elif i=="NEW SANTRO":
        model_list.append("New Santro")
    elif i=="CARENS": 
        model_list.append("Carens")
    elif i=="SELTOS": 
        model_list.append("Seltos")
    elif i=="SCORPIO" or i=="Scorpio": 
        model_list.append("Scorpio")
    elif i=="Thar" or i=="THAR":
        model_list.append("Thar")
    elif i=="Baleno" or i=="BALENO":
        model_list.append("Baleno")
    elif i=="Swift" or i=="SWIFT":
        model_list.append("Swift")
    elif i=="New Wagon-R":
        model_list.append("New Wagon-R")
    elif i=="Kiger":
        model_list.append("Kiger")
    elif i=="KWID" or i=="Kwid":
        model_list.append("Kwid")
    elif i=="TRIBER":
        model_list.append("Triber")
    elif i=="ALTROZ":
        model_list.append("Altroz")
    elif i=="NEXON":
        model_list.append("Nexon")
    elif i=="Tiago" or i=="TIAGO":
        model_list.append("Tiago")
    elif i == "SONET":
        model_list.append("Sonet")
    else:
        model_list.append(i)

set(model_list)

{' New Wagon-R',
 'Altroz',
 'Amaze',
 'Baleno',
 'Carens',
 'City',
 'Ecosport',
 'Elite i20',
 'Freestyle',
 'Grand i10',
 'Jazz',
 'Kiger',
 'Kwid',
 'New Santro',
 'Nexon',
 'Scorpio',
 'Seltos',
 'Sonet',
 'Swift',
 'Thar',
 'Tiago',
 'Triber'}

In [18]:
df["model"]=model_list
len(df["model"].unique())

22

In [19]:
df.head()

,state,city,year,make,model,series,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,Ford,Ecosport,TITANIUM 1.5L DIESEL,Manual,Diesel,1st,15425,96075,9,5,789000
1,CapitalUT,Delhi,2016,Ford,Ecosport,1.5AMBIENTE TI VCT,Manual,Petrol,1st,10792,55017,9,5,552000
2,CapitalUT,Delhi,2018,Ford,Ecosport,AMBIENTE 1.5L DIESEL,Manual,Diesel,1st,13978,24931,9,5,715000
3,CapitalUT,Delhi,2019,Ford,Ecosport,TITANIUM 1.5L PETROL,Manual,Petrol,1st,15503,22270,9,5,793000
4,CapitalUT,Delhi,2015,Ford,Ecosport,TITANIUM 1.5L PETROL AT,Automatic,Petrol,2nd,10440,78906,9,5,534000

In [20]:
df["transmission"].unique()

array(['Manual', 'Automatic', nan, 'TITANIUM 1.5L PETROL AT',
       'TITANIUM 1.5L DIESEL', '1.5AMBIENTE TI VCT',
       'TITANIUM 1.5L PETROL', '1.5 TITANIUM TI VCT AT',
       '1.5 TITANIUM TI VCT', '1.5TITANIUM TDCI',
       '1.5 TITANIUM SIGNATURE TI VCT (SUNROOF)', '1.0 TREND+ (ECOBOOST)',
       'AMBIENTE 1.5L DIESEL', 'TREND 1.5L PETROL',
       'FLAIR EDITION 1.2 TI VCT', 'TREND+ 1.2 TI-VCT',
       'TA PETROL 1.2Manual', 'A PETROL 1.2Manual', 'MA DIESEL 1.3Manual',
       'A CVT PETROL 1.2Automatic', 'HA CVT PETROL 1.2Automatic',
       'HA PETROL 1.2Manual', ' ABSManual', '+ DUAL TONE Manual',
       ' AMTAutomatic', '+Manual', ' OPTManual', 'TA 1.2 K12Manual',
       '1.0 PETROLManual', ' PLUSManual', ' (O)Manual',
       'A DIESEL 1.3Manual', 'MA PETROL 1.2Manual', 'HA 1.2 K12Manual',
       'HA DIESEL 1.3Manual', ' OManual'], dtype=object)

In [21]:
tranmission_list = []
for i in df["transmission"]:
    if i in ["Automatic","TITANIUM 1.5L PETROL AT","1.5 TITANIUM TI VCT AT","A CVT PETROL 1.2Automatic",
            "HA CVT PETROL 1.2Automatic","AMTAutomatic"]:
        tranmission_list.append("Automatic")
    else:
        tranmission_list.append("Manual")
set(tranmission_list)

{'Automatic', 'Manual'}

In [22]:
df["transmission"] = tranmission_list
df["transmission"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [23]:
### checking fuel column
df["fuel"].unique()

array(['Diesel', 'Petrol', 'CNG'], dtype=object)

In [24]:
### checking owner
df["owner"].unique()

array(['1st ', '2nd ', '3rd '], dtype=object)

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2890 entries, 0 to 2889
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state         2890 non-null   object
 1   city          2890 non-null   object
 2   year          2890 non-null   int64
 3   make          2890 non-null   object
 4   model         2890 non-null   object
 5   series        2873 non-null   object
 6   transmission  2890 non-null   object
 7   fuel          2890 non-null   object
 8   owner         2890 non-null   object
 9   emi           2890 non-null   int64
 10  kilometers    2890 non-null   int64
 11  mileage       2890 non-null   int64
 12  seating       2890 non-null   int64
 13  price         2890 non-null   int64
dtypes: int64(6), object(8)
memory usage: 316.2+ KB

In [26]:
### checking series
df.drop("series",axis=1,inplace=True)

In [27]:
df.head()

,state,city,year,make,model,transmission,fuel,owner,emi,kilometers,mileage,seating,price
0,CapitalUT,Delhi,2020,Ford,Ecosport,Manual,Diesel,1st,15425,96075,9,5,789000
1,CapitalUT,Delhi,2016,Ford,Ecosport,Manual,Petrol,1st,10792,55017,9,5,552000
2,CapitalUT,Delhi,2018,Ford,Ecosport,Manual,Diesel,1st,13978,24931,9,5,715000
3,CapitalUT,Delhi,2019,Ford,Ecosport,Manual,Petrol,1st,15503,22270,9,5,793000
4,CapitalUT,Delhi,2015,Ford,Ecosport,Automatic,Petrol,2nd,10440,78906,9,5,534000

### Missing value treatment

In [28]:
## check missing values`
df.isnull().sum()

state           0
city            0
year            0
make            0
model           0
transmission    0
fuel            0
owner           0
emi             0
kilometers      0
mileage         0
seating         0
price           0
dtype: int64

In [29]:
#df.to_csv("final_used_cars_data")